/* your beautiful css styling goes here! */

/* Note: an asteroid image is included in this repo.
Feel free to use it if you like. */

.enemy{
  position:absolute;
}
.player{
  position: absolute;
}
.container{
  background-color: #D1E0E0
}
.scoreboard{
  background-color: #99ADC2;
  font-family: 'Open Sans', sans-serif;
  font-size: 20px;
}