/* your beautiful css styling goes here! */

/* Note: an asteroid image is included in this repo.
Feel free to use it if you like. */
body{
  position: relative;
}
.enemy{
  position:fixed;
  transform-origin: 50% 50%;
  -webkit-animation: rotation_right 2s infinite linear


}
.player{
  position: absolute;
}
.container{
  background-color: #D1E0E0
}
.scoreboard{
  background-color: #99ADC2;
  font-family: 'Open Sans', sans-serif;
  font-size: 20px;
}


@-webkit-keyframes rotation_right {
    from {-webkit-transform: rotate(0deg);}
    to   {-webkit-transform: rotate(359deg);}
}